<div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Your New Help Request</h1>
        <form name="helpRequestForm" class="submission-form" ng-submit="submitHelpRequest(helpRequestForm.$valid)" novalidate>
          <div class="form-group">
            <label for="helpRequestTitle">Title</label>
            <input type="text" class="form-control" ng-model="helpRequest.title" id="helpRequestTitle" name="title" required>
            <p class="help-block">The title of your help request</p>
            <p ng-show="helpRequestForm.title.$invalid && !helpRequestForm.title.$pristine" class="help-block">The title is required.</p>
          </div>
          <div class="form-group">
            <label for="helpRequestText">Text</label>
            <textarea rows="15" type="text" class="form-control" ng-model="helpRequest.text" id="helpRequestText" name="text" required>
            </textarea>
            <p class="help-block">Paste the writing you would like help with here</p>
            <p ng-show="helpRequestForm.text.$invalid && !helpRequestForm.text.$pristine" class="help-block">Your writing is required.</p>
          </div>
          <div class="form-group">
            <label for="helpRequestSummary">Summary</label>
            <textarea rows="8" type="text" class="form-control" ng-model="helpRequest.summary" id="helpRequestSummary" name="summary" required></textarea>
            <p class="help-block">Write what you'd like help with here</p>
            <p ng-show="helpRequestForm.summary.$invalid && !helpRequestForm.summary.$pristine" class="help-block">Your summary is required.</p>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button><p ng-show="submissionSuccess === true" class="success-color">Your help request for this piece of writing has been submitted.</p><p ng-show="submissionError === true" class="error-color">You need to fill more of the form out</p>
        </form>
      </div>
    </div>
  </div>
