node_modules
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js

# Ingore actual db config
/server/config/dbConfig.js

# Ignore actual authentication secret
/server/config/secret
