<div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container">
    <div class="row">
      <h1>Contribute</h1>
      <div class="col-md-6">
        <h1>{{helpRequest.title}}</h1>
        <h3>Summary</h3>
        <p ng-model="helpRequest.summary" id="helpRequestSummary">{{helpRequest.summary}}</p>
        <h3>Text</h3>
        <p ng-model="helpRequest.text" id="helpRequestText">{{helpRequest.text}}</p>
      </div>
      <div class="col-md-6"> 
        <form name="contributionForm" ng-submit="respondToHelpRequest()" novalidate>   
          <label for="newContributionText">Your Contribution</label>
          <textarea rows="8" type="text" class="form-control" name="newContributionText" ng-model="newContribution.text" id="ContributionsText"></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div ng-repeat="contribution in helpRequest.contributions">
        <a ng-click="loadContribution(contribution.id)"><h4>Contribution by {{contribution.helperUsername}}</h4></a>
        </div>
      </div>
    </div>
  </div>
