<div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Response to your Help Request</h1>
        <form name="contributionRecdForm" ng-submit="(contributionRecdForm.$valid)" novalidate>
          <div class="form-group">
            <label for="contributionRecdTitle">{{helpRequest.title}}</label>
            <!--input type="text" class="form-control" ng-model="helpRequest.title" id="helpRequestTitle">
            <p class="help-block">The title of your help request</p-->
          </div>
          <div class="form-group">
            <label for="contributionRecdSummary">Summary</label>
            <p class="form-control" ng-model="helpRequest.summary" id="helpRequestSummary">{{contribution.helpRequestText}}</p>
          </div>
          <div class="form-group">
            <label for="helpRequestText">Contribution</label>
            <p class="form-control" ng-model="contributions" id="helpRequestText">{{helpRequest.text}}</p>
          </div>
          <div class="form-group">
            <label for="helpRequestText">Your Comments</label>
            <textarea rows="8" type="text" class="form-control" ng-model="contributions.text" id="ContributionsText">
            </textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit Comments</button>
        </form>
      </div>
    </div>
  </div>
