<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
      <div class="col-sm-6 salutation">
        <h3>Welcome {{user.username}}!</h3>
        <h4>Start writing today...</h4>
      </div>
      <div ng-show="user.numberUnseenHelps > 0" class="col-sm-6 dash-corner">
        <p>You Have {{user.numberUnseenHelps}} new help from others! <a class="btn btn-success btn-lg" aria-label="Left Align" href="/inbox">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a></p>
        <h4 ng-show="user.votes > 0">You have {{user.votes}} likes for your writing!</h4>
      </div>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3 class="page-header">Your Outstanding Help Requests <a class= "btn btn-primary btn-lg" href="/submission">Add New</a></h3>
      <a class="list-item" ng-repeat="request in user.helpRequests | orderBy: '-createdAt'" ng-click="loadHelpRequest(request.id)">
        <div class="dash-helpRequest dash-list-item">
          <div class="row">
            <div class="col-md-4 title">
              {{request.title}}
            </div>
            <div class="col-md-4 summary">
              {{request.summary}}
            </div>
            <div class="col-md-4 date">
              {{request.createdAt | date:'yyyy-MM-dd'}}
            </div>
          </div>
        </div>
       </a>
    </div>
    <div class="col-lg-6">
      <h3 class="page-header">Your contributions <a class= "btn btn-primary btn-lg" href="/allHelpRequest">Contribute</a></h3>
      <a class="list-item" ng-repeat="contribution in user.contributions | orderBy: '-origDate'" ng-click='loadContribution(contribution.id)'> 
        <div class="dash-contribution dash-list-item">
          <div class="row">
            <div class="col-md-8 title">
              {{contribution.textSnippet}}
            </div>
            <div class="col-md-4 date">
              {{contribution.origDate | date:'yyyy-MM-dd'}}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>      
	<div class="row search">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <form name="searchForm" ng-submit="search()" novalidate>
        <label for="string"><h4 class="page-header">Search for a Project to Contribute to</h4></label>
        <input type="text" class="form-control" ng-model="searchString" id="string" name="string" required> 
        <input type="submit" class="btn btn-primary" ng-disabled="searchForm.$invalid">
      </form>
    </div>
  </div>
    <div class="searchResult" ng-repeat="result in searchResults">
      <div class="row">
        <a ng-click="loadHelpRequest(result.id)">
          <div class="col-md-4">
            {{result.title}}
          </div>
          <div class="col-md-4">
            {{result.summary}}
          </div>
          <div class="col-md-2">
            {{result.origDate}}
          </div>
        </a>
      </div>
    </div>
