<div ng-include="'components/navbar/navbar.html'"></div>

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a class="btn btn-primary btn-lg" aria-label="Left Align" href="/contributionRecd">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a>
        <p>You Have {{user.numberUnseenHelps}} new help from others!</p>
        <a>You have {{user.numberUnseenComments}} new comments!</a>  
      </div>
      <div class="col-lg-6">
        <h1 class='text-center'>Welcome {{user.username}}!</h1>
        <h3 class='text-center'>What Would You Like to Write Today?</h3>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="page-header">Your Outstanding Help Requests</h2>
      <!--a ng-click="loadHelpRequest(request.id)">{{request.title}}</a>
      ng-repeat="request in user.helpRequests"<-->
    </div>
    <div class="col-lg-6">
      <h2 class="page-header">Help Requests from Other Writers</h2>
      <!--a ng-click="loadAllHelpRequest(request.id")>{{result.title}}</a>
      ng-repeat="helpRequest in user.allHelpRequest"<-->
    </div>
  </div>      
  <div class="row">
    <div class="col-lg-6 text-center">
      <button class= "btn btn-default btn-lg btn-block"><a href="/submission">Submit new help request</a></button> 
    </div>
    <div class="col-lg-6 text-center">
      <button class= "btn btn-default btn-lg btn-block"><a href="/allHelpRequest">Contribute</a></button>
    </div>
  </div>
</div>

<div class="container">	 
	<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <form name="searchForm" ng-submit="search()" novalidate>
        <label for="string">Search for a Project to Contribute to</label>
        <input type="text" class="form-control" ng-model="searchString" id="string" name="string" required> 
        <input type="submit" class="btn btn-primary" ng-disabled="searchForm.$invalid">
      </form>
    <div class="searchResult" ng-repeat="result in searchResults">
      <div class="row">
        <a ng-click="loadHelpRequest(result.id)">
          <div class="col-md-4">
            {{result.title}}
          </div>
          <div class="col-md-4">
            {{result.summary}}
          </div>
          <div class="col-md-2">
            {{result.origDate}}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
