<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <h1 class="text-center">Help Requests from Other Writers</h1>  
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3>Title</h3>
	     <ul ng-repeat="result in resultList | limitTo: 25">
        <a ng-click="loadHelpRequest(result.id)">{{result.title}}</a>
      </ul>
    </div>
    <div class="col-lg-3">
      <h3>Votes</h3>
        <ul ng-repeat="result in resultList | limitTo: 25">
          <li>{{result.votes}}</li>
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-primary btn-md" ng-show="result.title" ng-click="result.votes++">upvote</button>>
      </button>
    </div>
  </div>	
</div>
