<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <h2 class="page-header">Help Requests from Other Writers</h2> 
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <form name="searchForm" ng-submit="search()" novalidate>
        <input type="text" class="form-control" ng-model="searchString" id="string" name="string" required> 
        <input type="submit" class="btn btn-primary" ng-disabled="searchForm.$invalid">
      </form> 
    </div>
  </div>
  <div class="row">
    <a ng-click="loadHelpRequest(result.id)">
      <div class="col-md-4">
        {{result.title}}
      </div>
      <div class="col-md-4">
        {{result.summary}}
      </div>
      <div class="col-md-2">
        {{result.origDate}}
      </div>
    </a>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h4 class="page-header">Title</h4>
      <div class="searchResult" ng-repeat="result in searchResults">
	     <ul ng-repeat="result in resultList | limitTo: 25">
        <a ng-click="loadHelpRequest(result.id)">{{result.title}}</a>
      </ul>
    </div>
    <div class="col-lg-2">
      <h4 class="page-header">Votes</h3>
        <ul ng-repeat="result in resultList | limitTo: 25">
          <li>{{result.votes}}</li>
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-primary btn-md" ng-show="result.title" ng-click="result.votes++">upvote</button>
      </button>
    </div>
  </div>	
</div>
